# Disable PHP processing (paranoid bastard that I am)
RemoveHandler .php


# Enable directory indexing
Options +Indexes

# Directory listing options
IndexOptions FancyIndexing SuppressLastModified

# Add a description that is sadly, totally useless.
AddDescription "IEEE HW Address directory" *

# Add a header to the top of each directory listing
HeaderName /motd.txt

# Change the default "index.html" file
DirectoryIndex records

# I'm tired of these fucking things already Dreamhost, stop being dicks.
IndexIgnore favicon.gif favicon.ico motd.txt
